# secrets
.env
*.env
secrets/
RepoCreds.yaml
Secret.yaml

# ide
.vscode/
.idea/

# misc
tmp/
*.iso
*.log
*.tgz
.direnv
thirdpartdir/
*.tfstate*

# kubernetes
Chart.lock
charts/

# build
# build/
bin/
dist/

# node
node_modules/
npm-debug.log